.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c2c; /* Color de fondo de la página */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.tarjeta-receta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.3s ease;
  border-radius: 10px; /* Bordes redondeados */
  position: relative;
  padding: 10px;
  margin: 10px;
  background-color: #333; /* Fondo oscuro para las tarjetas */
  border: 1px solid #555; /* Borde para diferenciar los límites */
}

.tarjeta-receta:hover {
  transform: scale(1.05);
}

.tarjeta-receta.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2) ;
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  height: auto;
  background-color: #333; /* Fondo oscuro para las tarjetas */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Bordes redondeados */
}

.expanded-content {
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}