@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    border: 1px solid #ddd; 
    border-radius: 12px; 
    overflow: hidden; 
    width: 100%; 
    height: 400px; 
    background-color: #333; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.card-img {
    width: 100%;
    height: 60%; 
    object-fit: cover; 
}

.card-title {
    font-family: 'Shrikhand', cursive; 
    font-size: 2vw; 
    margin: 8px 16px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    color: white; 
    width: 100%;
    overflow: hidden;
    white-space: normal; 
    word-wrap: break-word; 
    text-shadow: #333 4px 4px 4px; 
    text-transform: uppercase; 
}

.card-info {
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: space-around; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.card-info div {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.card-info div span:first-child {
    font-weight: bold; 
    font-size: 1.2rem;
}

.card-info div span:last-child {
    font-size: 1rem; 
}

.card:hover .card-info {
    opacity: 1; 
}