.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; 
}

.main-header, .main-footer {
  background-color: #333;
  color: white;
  padding: 16px;
  text-align: center;
}

.main-content {
  flex: 1;
  padding: 16px;
  width: 100%; 
  box-sizing: border-box; 
}